{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styling %}
<style>
    form.login-form {
        width: 20rem;
    }

    
</style>
{% endblock %}


<header class="masthead" style="background-image: url('static/img/login.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Login</h1>
                    <span class="subheading">Write your blog post.</span>
                </div>
            </div>
        </div>
    </div>
</header>

{% with messages = get_flashed_messages() %}
    {% if messages %}

        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}

    {% endif %}
{% endwith %}

{{ wtf.quick_form(form, novalidate=True, extra_classes="login-form", button_map={"submit":"primary"}) }}


{% include "footer.html" %}